.introduction {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.blockText {
    max-width: 500px;
    margin: 0 3em 0 3em;
    text-align: justify;
}

.playButton {
    margin-top: 1em;
    padding: 0.5em 2em 0.5em 2em;
    border-radius: 0.5em;
}