.settingsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.warnButton {
    border: 2px solid;
    border-radius: 1em;
    padding: 1em;
    font-size: 1em;
    color:  #bd0000;
    cursor: pointer;
    
}

.hsRow {
    display: flex;
}

.container {
    border: 1px solid;
    max-width: 500px;
    width: 80%;
    padding: 1em;
    margin-top: 1.5em;
    border-radius: 1.5em;
    min-height: 8em;
    overflow-wrap: break-word;
}

input {
    border-radius: 6px;
    border-width: 2px;
    font-size: 1em;
    height: 1.2em;
    width: 6em;
    padding-left: 0.5em;
    font-family: inherit;
    resize: none;
    margin-right: 0.5em;
    color: inherit;
}

button {
    display: inline-block;
    border-radius: 6px;
    border-width: 3px;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    margin-bottom: 1em;
    color: inherit;
}

.deleteButton {
    font-size: 1.1em;
    margin: 1em;
    border-radius: 1.1em;
    padding: 0.5em;
}

.line {
    border-top: 1px solid;
    margin: 2em;
    content: "";
    height: 0px;
}