.loadingCircle {
    display: flex;
    justify-content: center;

    content: "";
    width: clamp(3rem, 10vmin, 5em);
    height: clamp(3rem, 10vmin, 5em);
    border: 1vmin solid;
    border-radius: 50%;
    animation: loadingCircle 1s linear infinite;
    margin: 10px;
}

.dark {
    border-color: #66ff66;
}
.light {
    border-color: #6063ff
}

@keyframes loadingCircle {
    to {
        transform: rotate(1turn);
    }
}