.playtable {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
}

.tablecell {
    user-select: none;
    display: inline-flex;    
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
    border: 2px solid;
    margin: 5px;
    width: 2em;
    height: 2em;
    font-size: clamp(0.8em, 4vmin, 4em);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}