.playtable {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    width: 80%;
    max-width: 450px;
    justify-content: center;
    flex-direction: column;
}
.playtableRow {
    display: flex;
    justify-content: center;
}
.tablecell {
    position: relative;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 3px;
    margin: 0.12em;
    width: 100%;    
    aspect-ratio: 1;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.tablecell .plus {
    position: absolute;
    font-size: 0.6em;
    font-weight: bold;
    top: 0px;
    right: 4px;
}

@media only screen and (max-width: 400px), (max-height: 740px) {
    .tablecell {
        font-size: 4vmin;
        width: 6vh;
    }
}
@media only screen and (max-height: 500) {
    .tablecell {
        width: 5vh;
    }
}