header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    max-width: 500px;

    height: 3.2em;
    vertical-align: middle;

    border-bottom: 1px solid;

}

.icon {
    width: clamp(25px, 5vmin, 40px);
    height: clamp(25px, 5vmin, 40px);
    cursor: pointer;
    margin: 0 0.3vmin 0 0.3vmin;
    padding: 0.2em;
}

.lbRow {
    align-items: center;
    display: flex;
    line-height: 100%;
    width: 100%;
    justify-content: center;
}
.lbCol {
    font-size: clamp(0.4em, 3vmin, 1em);
    overflow: hidden;
}

.title {
    letter-spacing: 0.3rem;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;

    font-size: clamp(1.4em, 6vmin, 2em);
}

.dialog {
    position: absolute;
    max-width: 600px;
    
    top: 10%;
    max-height: 85%;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
    border: 1px solid;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    overflow: auto;
}

.stats {
    padding: 0 1em 1em;
    height: 50%;
    letter-spacing: 0.1em;
    text-align: center;
    max-width: 400px;
    width: 70%;
    align-content: center;
    align-items: middle;
    justify-content: center;
}

.dialog .text {
    margin: 3em;
}

.dialog .tablecell {
    font-size: clamp(0.5rem, 4vmin, 4rem);
}

.notification {
    border: 1px solid #000000;
    border-radius: 0.5em;
    background-color: #eeeeee;
    color: #222222;
    position: absolute;

    left: 0;
    right: 0;
    
    top: 10%;
    width: 6em;
    margin-left: auto;
    margin-right: auto;

    padding: 1em;
    font-size: 3vmin;
    text-align: center;
    position: absolute;
    pointer-events: none;
}

@media only screen and (max-width: 700px) {
    .dialog .text {
        margin: 1em;
    }
}
