.mainbar {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    line-height: 50px;
    margin-top: 1em;
}

.icon {
    width: clamp(30px, 8vmin, 60px);
    height: clamp(30px, 8vmin, 60px);
    cursor: pointer;
    padding: 0.2em;
}

.title {
    font-size: 5vmin;
    font-weight: bold;
    padding-left: 10vmin;
    padding-right: 10vmin;
    user-select: none;
}

.dialog {
    position: absolute;
    width: 80%;
    max-width: 800px;
    top: 10%;
    height: 85%;
    border-radius: 3em;
    border: 1px solid;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    overflow: auto;
    scrollbar-width: none;
}

.dialog::-webkit-scrollbar{
    display: none;
}

.dialog .text {
    margin: 3em;
}

.dialog .tablecell {
    font-size: clamp(0.5rem, 4vmin, 4rem);
}


@media only screen and (max-width: 700px) {
    .title {
        font-size: 2em;
    }

    .dialog .text {
        margin: 1em;
    }
}
