.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

.infoBox {
    margin-top: 1em;
    min-height: clamp(1em, 5vmin, 1.2em);
    text-align: center;
    line-height: 2vmin;
    font-size: clamp(0.8em, 5vmin, 1.2em);
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

.loadingMessage {
    margin-top: 30vmin;
    min-height: 1em;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    line-height: 1em;
}

.warning {
    content: "";
    margin-top: 0.2em;
    min-height: 1.2em;
    font-size: clamp(0.8em, 5vmin, 1.2em);
}



@media only screen and (max-width: 600px) {
    .keyCell {
        font-size: 3vmin;
    }
    .tablecell {
        font-size: 6vmin;
    }
}