.keyboard {
    text-align: center;
    bottom: 1px;
    font-size: inherit;
    display: grid;
}

.keyCell {
    margin: 0.2em;
    border: 1px solid;
    border-radius: 0.4em;
    
    justify-content: center;

    min-width: 2.5em;
    height: 3em;
    line-height: 3em;

    font-weight: bold;
    
    user-select: none;

    display: inline-block;
    cursor: pointer;
}

.firstRow .keyCell {
    min-width: 2em;
    height: 2em;
    line-height: 2em;
}