.keyboard {
    text-align: center;

    width: 100%;
    max-width: 650px;
    min-height: 200px;

    height: auto;
    display: flex; 
    flex-direction: column;

    margin-bottom: 0.2em;
}

.keyBoardRow {
    display: flex;
    flex-grow: 1;
}
.keyCell {
    display: flex;
    margin: 0.2em;
    border-radius: 0.4em;
    float: left;
    flex-grow: 1;

    justify-content: center;
    align-items: center;


    font-weight: bold;
    
    user-select: none;
    cursor: pointer;
}